

body {
	
	font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#4b5e81;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;


}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color:#99CC00;
}
a:active {
	text-decoration: none;
}
form {
	margin: 0px;
}


div.clear {
	clear: both;
}

img{ border:none;}


.header-bg{ background-image:url(../images/header-bg.png); height:126px; background-repeat:repeat-x;}
.footer-bg{ background-image:url(../images/footer-bg.png); height:48px;}
.lite-blue-bx{ width:235px; background-color:#cbe1ec; -moz-border-radius: 10px; border:#b7d2dd solid 1px;
-webkit-border-radius: 10px;
border-radius: 10px; }

.left-menu-hd-bg{ background-image:url(../images/side-menu-hd.png); width:235px; height:35px; background-repeat:no-repeat;}
.blue-bx-topmid-bg{ background-image:url(../images/lft-menu-hd-corner-mid.png); height:35px; background-repeat: repeat-x;}

#left-menu ul
{
list-style: none;
padding: 0;
margin: 0;
}

#left-menu li
{
	background-image:url(../images/lft-menu-hd-corner-butn.png); width:231px; height:29px;
float: left;
margin: 2px; color:#1b4a64; font-family: Arial, Helvetica, sans-serif; font-size:12px; 
}

#left-menu li a
{ 

float: left;
width:231px;
display: block;
 color:#1b4a64; font-family: Arial, Helvetica, sans-serif; font-size:12px; padding:7px;
text-decoration: none;
text-align:left;
}

#left-menu li a:hover 
{ 
float: left;
width:231px;
display: block;
 color:#1b4a64; font-family: Arial, Helvetica, sans-serif; font-size:12px; padding-top:7px;
text-decoration: underline;
text-align:left;
}

#left-menu
{
width:231px;
}

.lite-blue-br{ height:30px; background-color:#e8f3f9; font-family:Arial, Helvetica, sans-serifc; color:#1d476d; font-size:14px;}
.lite-gry-br{ background-image:url(../images/litegrybr.png); height:27px; background-repeat:repeat-x; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3e42;}
.lite-gry-br-2{ background-image:url(../images/litegrybr-2.png); height:25px; background-repeat:repeat-x; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3e42;}


.loginform-drk-bl-br{background-color:#626d73; height:35px; -moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px; }

.loginform-bg{ background-image:url(../images/login-bg.png); height:800px; background-repeat: repeat-x;}

.loginform-lft{ background-image:url(../images/loginfrom-corner-lft.png); height:98px; width:8px; background-repeat:no-repeat;}
.loginform-rite{ background-image:url(../images/loginfrom-corner-rite.png); height:98px; width:8px; background-repeat:no-repeat;}
.loginform-mid{ background-image:url(../images/loginfrom-corner-mid.png); height:98px; background-repeat: repeat-x;}
.loginform-butm{ background-image:url(../images/loginfrom-corner-butm.png); height:19px; background-repeat: repeat-x;}

.loginform-textbx{ background-image:url(../images/textbox-bg.png); width:205px; height:22px; background-repeat:no-repeat;}
.loginform-text{ background-color:#ececec; border:none; height:15px;}

.textbox-bg{ background-image:url(../images/textbox-bg.png); width:114px; height:21px; background-repeat:no-repeat;}
.textbox-bg input{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#464646; padding-left:20px;}
			
.blue-22{color:#04476e; font-family:PrioriSerifoT; font-size:22px; font-weight:bold; padding-top:20px; padding-left:50px;}
.blue-12{color:#04476e; font-family:Istok Web; font-size:12px; font-weight:bold; }
.green-12{color:#7fbb4d; font-family:Istok Web; font-size:12px; font-weight:bold;}

.litegry-10{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#a8adb0; }
.gry-11{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#474444; }
.drkgry-12{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#393939; }

.orng-11{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#efb700; }

.white-12{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff; }
.white-14{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#ffffff; }
.white-16{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#ffffff; }
.white-18{font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#ffffff; }
#nav-menu ul
{
list-style: none;
padding: 0;
margin: 0;

}

#nav-menu li
{
float: left;
margin:10px; height:40px;

 
}

#nav-menu li a
{ 

float: left;
 margin: 8px; 
display: block;
 color:#ffffff; font-family: Arial, Helvetica, sans-serif; font-size:14px; 
text-decoration: none;
text-align: center;
}
#nav-menu li a:hover 
{ 
float: left; 
margin: 8px; 
display: block;
 color:#759525; font-family: Arial, Helvetica, sans-serif; font-size:14px; 
text-decoration: none;
text-align: center;
}
#nav-menu
{
width:100%; 
 background-color:#99FFFF;
}
